---
import '../styles/globals.css'

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div class:list={['ac-accordion', className]}>
  <slot />
</div>

<style>
  .ac-accordion {
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: var(--ac-spacing-3);
    margin-inline: auto;
    max-width: 43.75rem;
    width: 100%;
  }
</style>

<script>
  import {
    DOMLoaded,
    handleResize,
    hasViewportWidthChanged,
  } from '../utils/utils'
  import { setAccordionHeight } from '../utils/accordion'

  DOMLoaded(() => {
    const accordions = document.querySelectorAll<HTMLDetailsElement>(
      '[data-accordion-item]',
    )

    setAccordionHeight(accordions)

    handleResize(() => {
      if (hasViewportWidthChanged()) {
        setAccordionHeight(accordions)
      }
    })
  })
</script>
